    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="<%=url%>/assets/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="<%=url%>/assets/css/navbar-top-fixed.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Sweet Alert-->
    <script src="<%=url%>/assets/js/sweetalert.min.js"></script>

    <!--Axios-->
    <script src="<%=url%>/assets/js/axios.min.js"></script>
    
    <style>
    .chartBawah{
        float: left;
        width: 40%;
        height: 40%;
        margin-left: 4em;
        margin-top: 2em;
        margin-bottom: 4em;
        border: 1px solid #CCC;
    }
    </style>
    <title>Monitoring Covid</title>